*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:#3b9ca3;
    --color:	#eeeeee;
    --card-color:	#1e1e1e;
    --color1:	#9c27b0;
}
.navbar{
    padding: 30px 5px;
    background-color: var(--primary-color) !important;
    color: var(--color) !important;
}
.navbar-brand , .nav-link{
    color: var(--color) !important;
}
.collapse{
    margin-left: 50%;
}
.nav-link:hover{
    cursor: pointer;
    text-decoration: underline ;
}
/* footer .bg-dark{
    background-color: var(--primary-color);
}
.container{
    background-color: var(--primary-color); */
}